KALSHI_ACCESS_KEY=
KALSHI_PRIVATE_KEY=
KALSHI_MARKET_TICKER=
KALSHI_API_BASE=https://api.kalshi.com
KALSHI_ORDER_SIDE=yes
KALSHI_ORDER_ACTION=buy
KALSHI_ORDER_TYPE=market
KALSHI_LIMIT_PRICE=
KALSHI_CONTRACT_PRICE_CENTS=100
KALSHI_MARKET_STATUS=open
KALSHI_MARKET_PAGE_LIMIT=500
KALSHI_MARKET_TIMEZONE=America/Chicago
KALSHI_AUTO_STRATEGY=highest-odds
TRADE_AMOUNT_CENTS=1000
SCHEDULED_TRADES_ENABLED=true
